@tailwind base;
@tailwind components;
@tailwind utilities;

.font-noto {
  font-family: 'Noto Serif', serif;
}

.shaddowbutton {
  box-shadow: 5px 5px #c7c6c6;
}


.shaddow-card {
  box-shadow: 12px 15px #c7c6c6;
}